html, body, input, div, p {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body { width:100%; height:100%; font-family: sans-serif; font-size: 10pt; }

canvas { display:block; margin:2px auto; }

#drop {
  position: relative;
  width: 100px;
  height: 40px;
  border: 5px dotted black;
  float: left;
  margin: 10px;
  box-sizing: border-box;
}

#drop > p {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: gray;
}

#drop input[type="file"] {
  position: absolute;
  width: 100%;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

output {
  display: block;
  width:100%;
  /* width: 800px;
  height: 200px;
  border: 5px dotted black; */
  float: left;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px 10px 10px 0px;
}

output > p {
  margin-left: 3em;
}

.playerButton:not(.disabled) {
  cursor: pointer;
}

.play {
  width: 20px;
  height: 20px;
}

.play::before {
  position: absolute;
  content: "";
  transform: translateX(1.35px);
  display: block;
  border-style: solid;
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent gray;
}

.play.disabled::before {
  border-color: transparent transparent transparent black;
}

.play:not(.disabled):hover::before {
  border-color: transparent transparent transparent black;
}

.pause {
  width: 20px;
  height: 20px;
}

.pause::before {
  position: absolute;
  content: "";
  transform: translateX(1px);
  display: block;
  width: 5px;
  height: 20px;
  background: gray;
}

.pause::after {
  position: absolute;
  content: "";
  transform: translateX(9px);
  display: block;
  width: 5px;
  height: 20px;
  background: gray;
}

.pause.disabled::before, .pause.disabled::after {
  background: black;
}

.pause:not(.disabled):hover::before, .pause:not(.disabled):hover::after {
  background: black;
}

.stopButton:not(.disabled) {
  cursor: pointer;
}

.stop {
  width: 20px;
  height: 20px;
  background: gray;
  margin: 20px;
}

.stop.disabled, .stop:not(.disabled):hover {
  background: black;
}

#volumeSlider {
  vertical-align: middle;
}

#volumeBox, #controlBox {
  display:block;
  float:left;
}

#volumeBox {
  padding: 10px 10px 10px 5px;
  margin: 10px 0px;
}

#controlBox {
  padding:5px 10px;
  margin:10px 0px;
  border-left: 1px solid black;
}
#controlBox > select {
  margin:0px 10px 0px 5px;
  /*border:1px solid;
  padding:3px;*/
}

#controlBox > input {
  display: inline-block;
  vertical-align:middle;
}

footer {
  border-top:1px solid black;
  margin:10px;
  display:block; float:left;
  padding:10px 0px;
}
