html, body, input, div, p, canvas {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align:bottom;
}

html, body { height:100%; width:100%; font-family: sans-serif; font-size: 10pt; }

#drop {
  position: relative;
  width: 100px;
  height: 40px;
  border: 5px dotted black;
  float: left;
  margin: 10px;
  box-sizing: border-box;
}

#drop > p {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: darkgray;
}

#drop input[type="file"] {
  position: absolute;
  width: 100%;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}

output {
  display: block;
  width:100%;
  /* width: 800px;
  height: 200px;
  border: 5px dotted black; */
  float: left;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px 10px 10px 0px;
}

output > p, output > .comment {
  margin-left: 3em;
}

.playerButton:not(.disabled) {
  cursor: pointer;
}

.play {
  width: 20px;
  height: 20px;
}

.play::before {
  position: absolute;
  content: "";
  transform: translateX(1.35px);
  display: block;
  border-style: solid;
  border-width: 10px 0 10px 17.3px;
  border-color: transparent transparent transparent black;
}

.play.disabled::before {
  border-color: transparent transparent transparent darkgray;
}

.play:not(.disabled):hover::before {
  border-color: transparent transparent transparent dimgray;
}

.pause {
  width: 20px;
  height: 20px;
}

.pause::before {
  position: absolute;
  content: "";
  transform: translateX(1px);
  display: block;
  width: 5px;
  height: 20px;
  background: black;
}

.pause::after {
  position: absolute;
  content: "";
  transform: translateX(9px);
  display: block;
  width: 5px;
  height: 20px;
  background: black;
}

.pause.disabled::before, .pause.disabled::after {
  background: darkgray;
}

.pause:not(.disabled):hover::before, .pause:not(.disabled):hover::after {
  background: dimgray;
}

.stopButton:not(.disabled) {
  cursor: pointer;
}

.stop {
  width: 20px;
  height: 20px;
  background: black;
  margin: 20px;
}

.stop.disabled {
  background: darkgray;
}

.stop:not(.disabled):hover {
  background: dimgray;
}

#volumeSlider {
  vertical-align: middle;
}

#volumeBox, #controlBox {
  display:block;
  float:left;
}

#volumeBox {
  padding: 10px 10px 10px 5px;
  margin: 10px 0px;
}

#controlBox {
  padding:5px 10px;
  margin:10px 0px;
  border-left: 1px solid black;
}
#controlBox > select {
  margin:0px 10px 0px 5px;
  /*border:1px solid;
  padding:3px;*/
}

#controlBox > input {
  display: inline-block;
  vertical-align:middle;
}

footer {
  border-top:1px solid black;
  margin:20px;
  display:block; float:left;
  clear: both;
  border: 1px 0 0 0 solid black;
  padding:10px 0px;
}

.help {
  margin:20px;
  display:block;
  float:left;
  padding: 10px 0px;
}

#fixedContainer { position: sticky; z-index:1; top:0; }
#playerFixed, #player         { position:absolute; right:0; }
#playerFixedMenu, #playerMenu { position:sticky;   left:0; }

body {
  overflow-x: hidden;
  overflow-y: auto;
  position:relative;
}

#commentsToggle { margin-left: 5px; }

#displayContainer {
  background:#000010;
  flex-grow:1;
}

#playerContainer{
  display:flex; flex-direction:column;
  flex-wrap: nowrap;
  min-height:100%;
}

#controls { }

#controlBar {
  display:flex;
  align-items: center;
  position:sticky;
  background:#4e4b61;
  border:3px solid;
  border-color:#69656d #343255 #343255 #69656d;
  width:100%;
  color:#9d9784;
  font-weight:bold;
  bottom:0;
}

#controlBox > span[title] {
  text-decoration:dotted underline;
}

#controlBar input[type="checkbox"] {
  box-sizing:border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width:18px;
  height:12px;
  outline:none;
}


#controlBar input[type="checkbox"]:not(:checked) {
  background:#4E4B61;
  box-shadow:
    -0.5px -0.5px 0 0.5px #69656D,
     0.5px  0.5px 0 0.5px #00003E,
     0      0     0   1px #4E4B61,
    -0.5px -0.5px 0 1.5px #00003E,
     0.5px  0.5px 0 1.5px #69656D;
}

#controlBar input[type="checkbox"]:checked {
  background:#00F080;
  box-shadow:
    -0.5px -0.5px 0 0.5px #007840,
     0.5px  0.5px 0 0.5px #69656D,
     0      0     0   1px #4E4B61,
    -0.5px -0.5px 0 1.5px #00003E,
     0.5px  0.5px 0 1.5px #69656D;
}
